# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Julien Petit
	email = g7029b6d@duck.com
[init]
	defaultBranch = master
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
